:root {
  --nav-background-color: #33292a;
  --nav-color: #fff;
  --background-1: #33292a;
  --background-2: #644b4f;
  --background-3: #333333;
  --background-4: #f2f2f2;
  --link-color: #efa69d;
  --link-hoover: #e9877b;
  --body-background-black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-background-black);
  max-width: 70vw;
  margin: 0 auto;
}

/* .narrow-container is used in more places 
through out the code  */
.narrow-container {
  width: 70%;
  margin: 0px auto;
}

/* .project-paragraph-font-size is used in 
more places through out the code  */
.project-paragraph-font-size {
  font-size: 14px;
}

/* NAVIGATION BAR */

.nav-container {
  background-color: var(--nav-background-color);
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list,
a {
  list-style: none;
  text-decoration: none;
  color: var(--nav-color);
  padding: 25px 0;
}

.icon-container {
  display: none;
  padding: 25px 0;
}

.nav-icon {
  color: var(--nav-color);
}

@media (max-width: 900px) {
  .nav-list a {
    display: none;
  }

  .nav-list {
    padding: 0;
  }

  .icon-container {
    display: block;
    padding: 25px 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    justify-content: end;
    padding: 0px;
    width: 85%;
  }

  .nav-container {
    margin-right: 0;
  }
  .icon-container {
    display: block;
    padding: 15px 0;
  }
}

/* WELCOME SECTION */

.welcome-section-container {
  background-image: url(./images/Welcome-section-tent.jpg);
  background-position: center;
  background-size: cover;
}
.title-wrapper {
  height: 80vh;
  position: relative;
}

.title h1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 80px;
  right: 0px;
  text-align: right;
  color: var(--nav-color);
  font-size: 5rem;
}

@media (max-width: 768px) {
  .title-wrapper {
    width: 85%;
    height: 60vh;
  }
  .title h1 {
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  .title h1 {
    font-size: 2.5rem;
  }
}

/* ABOUT US */

.about-us-section-container {
  background-color: var(--background-4);
}

.about-us-text-container {
  display: flex;
  gap: 20px;
  padding: 3rem 0;
}

.about-us-img-wrapper {
  background-image: url("./images/about-us.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  width: calc(100% / 2);
}

.about-us-title {
  margin-bottom: 18px;
}

.img-about-us {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .about-us-text-container {
    flex-direction: column;
  }

  .text-card-wrapper {
    width: 100%;
  }

  .about-us-img-wrapper {
    width: 100%;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .about-us-text-container {
    width: 85%;
  }
}

/* WHAT WE DO */

.what-we-do-section-container {
  background-color: var(--background-1);
  display: flex;
  flex-direction: column;
}

.what-we-do-title {
  margin-top: 100px;
  margin-bottom: 30px;
}

.what-we-do-text-wrapper {
  text-align: center;
  color: var(--nav-color);
  margin-bottom: 100px;
}

.icon-menu-container {
  display: flex;
  color: var(--nav-color);
  justify-content: space-between;
}

.icon-wrapper {
  text-align: center;
  width: 65px;
  font-size: 15px;
  margin-bottom: 90px;
}

.icon-wwdo {
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .icon-menu-container {
    flex-direction: column;
    align-items: center;
    width: 85%;
  }

  .icon-wwdo {
    width: 100%;
  }

  .what-we-do-text-wrapper {
    width: 85%;
  }

  .what-we-do-title {
    margin-top: 60px;
  }
}

/* OUR TRIPS GALLERY */

.trips-gallery-section-container {
  background-color: whitesmoke;
  padding: 80px 0;
}

.trips-img-container {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.wrapper,
.text-wrapper {
  width: calc(100% / 3 - 6px / 2);
  height: 180px;
  border-radius: 5px;
}

.text-wrapper {
  background-color: var(--background-4);
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7vw;
  font-weight: bold;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .wrapper,
  .text-wrapper {
    width: 100%;
  }

  .text-wrapper {
    font-size: 20px;
    height: 100px;
  }

  .trips-img-container {
    flex-direction: column;
    width: 85%;
  }
}

/* WHERE DO YOU WANT TO GO */

.where-do-you-go-container {
  background-color: var(--background-2);
  padding: 60px 0px;
}
.content {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.header {
  text-align: left;
  flex: 1;
  color: var(--nav-color);
}

.text-container {
  flex: 2;
  color: var(--nav-color);
}

.text {
  text-align: left;
}

.contact-us-row {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.button {
  background-color: var(--background-4);
  width: fit-content;
  border-radius: 5px;
}
.button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--body-background-black);
  font-weight: bold;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 85%;
  }
  .text {
    text-align: center;
  }

  .header {
    text-align: center;
    padding: 15px;
  }
  .contact-us-row {
    text-align: center;
  }
  .button {
    margin: auto;
  }
}

/* REVIEWS */

.reviews-section-container {
  background-color: var(--background-4);
  padding: 50px 0px;
}

.introduction {
  text-align: center;
  padding-bottom: 50px;
}

.reviews-title {
  font-weight: bold;
  margin-bottom: 30px;
}

.people-review-cards-wrapper {
  display: flex;
  gap: 40px;
}

.bertie-review-card-wrapper,
.frank-kinney-card-wrapper {
  width: calc(100% / 2 - 40px);
  margin: 20px auto;
  position: relative;
}

.img-bertie-wrapper,
.img-frank-wrapper {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.bertie-img,
.frank-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.bertie-review-text,
.frank-review-text {
  margin-bottom: 20px;
}

.name-text-bertie,
.name-text-frank {
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 1020px) {
  .people-review-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bertie-review-card-wrapper,
  .frank-kinney-card-wrapper {
    width: 100%;
    height: 23rem;
  }
}

@media (max-width: 768px) {
  .bertie-review-card-wrapper,
  .frank-kinney-card-wrapper {
    padding-bottom: 20px;
  }

  .name-text-bertie,
  .name-text-frank {
    position: static;
  }

  .review-content-container {
    width: 85%;
  }
  .reviews-intro-text {
    text-align: left;
  }

  .introduction {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .review-contant-container {
    margin: 0px auto 50px;
  }
  .bertie-review-card-wrapper {
    margin: 60px auto 20px;
  }

  .reviews-intro-text,
  .introduction {
    margin: 0;
    padding: 0;
  }

  .img-bertie-wrapper,
  .img-frank-wrapper {
    width: 150px;
    height: 150px;
  }
}

/* GALLERY */

.gallery-section-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-section-container img {
  width: 50%;
}

@media (max-width: 768px) {
  .gallery-section-container img {
    width: 100%;
  }
}

/* FOOTER */

.footer-container {
  background-color: var(--background-3);
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

.contact {
  color: var(--link-color);
}

a.contact:hover {
  color: var(--link-hoover);
}

.copyright {
  color: var(--nav-color);
  margin-top: 5px;
}
